@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    /* O elemento para de crescer quanto chega a 400px e se a tela for menor ele usa a largura de 80% para ir se ajustando. */
    width: 80%; /* pega 80% da página porque é ela que esta contendo a div até os 400px */
    max-width: 400px;
    margin-top: 100px;
    margin-inline: auto;
    /*
        - margin-inline: auto (sentraliza a direita e esquerda somente)
    */
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;
    /* A opacity vai de 0 (invizivel) até 1 (padrão) */
}

p {
    margin-bottom: 40px;
    opacity: 0.7;
}

input, button {
    display: block;
    width: 100%; /* pega 100% da div porque é ela que está contendo esses elementos */
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
}

input {
    margin-bottom: 20px;
}

button {
    border: none; /* É para tirar a bordar que já vem padrão */
    background-color: #8a2be2;
    color: #ffffff;
    transition: filter 0.2s; /* Essa transição é aplicada somente no filter */
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}